/* CSS Document */
a {
    color: #4C4C4C;
    text-decoration: none;
}
a:hover {
    color: #4EB875;
}
.tool_content{width:1128px;}
.tool_content dl{margin-right:160px;}
#main{width:950px; overflow:hidden; margin:0 auto; margin-top:30px;}
.left-warp{width:180px; overflow:hidden;  float:left; }
#left{width:142px; overflow:hidden; border:4px solid #3CB469; padding:20px 15px; background:#fff;}
.menu{overflow:hidden;}
.menu dt{height:60px; background:url(../images/member_menu_line.png) no-repeat bottom center;}
.menu dt div{width:142px; text-align:left;}
.menu .cur{width:142px; height:27px;  text-align:left; line-height:27px;margin-bottom:8px; color:#fff; background:url(../images/menu_h2.png) no-repeat left; font-family:'微锟斤拷锟脚猴拷'; font-size:14px; font-weight:normal; text-indent:15px;}
.menu dd{background:url(../images/member_menu_line.png) no-repeat bottom center; height:35px; line-height:35px;}
.menu dt, .menu dt a{color:#177a3c; text-align:center;}
.menu dd a,.menu dt div{color:#000; display:block; width:83px; height:35px; line-height:35px; margin:0 auto; padding-left:25px; background:url(../images/menu_icon.png) no-repeat 5px center;}
#right{width:700px; min-height:700px; float:right; overflow:hidden; border:1px solid #DAD7D7; padding:25px; background:#fff;}
h2.title{background:url(../images/menu_title_icon.png) no-repeat left center; height:31px; line-height:31px; padding-left:35px; font-family:'微锟斤拷锟脚猴拷'; font-size:18px; font-weight:normal;}
.new_list{ border-bottom:1px dashed #EFEFEF; overflow:hidden; padding:20px 0; width:640px; margin:0 auto;}
.new_list dt{color:#BFBFBF; padding-bottom:10px; font-size:16px; }
.new_list dd{padding-left:50px; line-height:1.5em; font-size:14px; }
.new_list dd a{color:#326190; margin:0 10px;}
.new_list dd .msg{color:#ec1a1a;}
.new_list_last{margin-bottom:60px; background:none;}
.you_like{width:640px; overflow:hidden; margin:0 auto; margin-top:20px;}
.you_like a{display:block; width:300px; margin-right:20px; height:35px; line-height:35px; float:left;word-spacing:normal; text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
#footer{ margin-top:30px; clear:both;}

/*other*/
.head{height:35px; border-bottom:1px solid #E5E5E5; color:#3cb469; font-family:'微锟斤拷锟脚猴拷'; font-size:18px; font-weight:normal;}
.head a{ display:inline-block; background:url(../images/green_btn.png) no-repeat left center; padding-left:5px; margin-right:12px; float:right;}
.head a span{ display:inline-block; background:url(../images/green_btn.png) no-repeat right center; height:22px; line-height:22px; padding-right:5px; white-space:nowrap; word-spacing:normal; font-size:12px; color:#fff; font-weight:normal;}

.form{margin-top:15px;}
.form li.title{ color:#7F7F7F; font-size:14px; height:25px; line-height:25px; padding-top:10px;}
.form li textarea{border:1px solid #C4C4C4; width:565px; height:180px; font-size:14px;}
.form li input.i{padding:5px; border:1px solid #C4C4C4; width:555px;}
.form li input.intxt{padding:5px; border:1px solid #C4C4C4; width:380px;}
.form li input.int{padding:5px; border:1px solid #C4C4C4; width:120px;}
.form li label{padding-top:3px; display:inline-block; margin-left:10px;}
.form li .tips{font-size:12px; color:red;}
.form select { font-size: 13px;}
.form .option2 {  background: none repeat scroll 0 0 #F1F7F1;}

.btn{overflow:hidden; display:inline-block; background:url(../images/green_btn.png) no-repeat left center; padding-left:5px; margin-right:6px; float:left; border:none; cursor:pointer;}
.btn span{display:inline-block; background:url(../images/green_btn.png) no-repeat right center; height:22px; line-height:22px; padding-right:5px; white-space:nowrap; word-spacing:normal; font-size:12px; color:#fff; font-weight:normal;}
.lg_btn{overflow:hidden; display:inline-block; background:url(../images/login_bg.jpg) no-repeat left center; padding-left:5px; margin-right:6px; float:left; border:none; cursor:pointer;}
.lg_btn span{display:inline-block; background:url(../images/login_bg.jpg) no-repeat right center; height:29px; line-height:29px; padding-right:5px; white-space:nowrap; word-spacing:normal; font-size:12px; color:#fff; font-weight:normal;}

.list_table{border:1px solid #F2F2F2; border-bottom:none;}
.list_table th,.list_table td{height:37px; border-bottom:1px solid #f2f2f2; padding:0 10px;}
.list_table th{ color:#AEAEAE; background:#F9F9F9; font-weight:normal;}
.list_table td{line-height:37px; border-bottom:1px solid #f2f2f2; color:#474747;}
.list_table td .view_name{display:inline-block; height:37px; line-height:37px; float:left;}
.qbao .list_table th,.qbao .list_table td{text-align:left;}
.qbao .list_table td i{display:inline-block;font-style:normal;font-size:12px;vertical-align:top;margin-top:-5px;}
.qbao .list_table tfoot td{text-align:right;}
.qbao .list_table td .cred{color:#ff0000}
.qbao .list_table td .cgreen{color:#8dc61e}
.qbao .list_table td .corange{color:#ff7e00}
.qbao .upper{height:130px;margin:45px auto;}
.qbao .upper .m{float:left;width:400px;height:130px;font-family: Microsoft Yahei;}
.qbao .upper .m h5{padding-left:74px;height:45px;line-height:45px;color:#979797;font-size:16px;font-weight:normal;margin-bottom:17px;margin-top:10px;}
.qbao .upper .m h5 span{color:#000;font-family:Tahoma,Arial,Microsoft Yahei;margin-left:25px;}
.qbao .upper .m h5 span i{font-weight:normal;font-style:normal;font-size:30px;}
.qbao .upper .m .btns{padding-left:70px;height:33px;line-height:33px;color:#979797;font-size:12px;}
.qbao .upper .m .btns .btn{display:block;width:81px;height:33px;line-height:33px;text-align:center;border-radius:16px;background:none;padding:0;}
.qbao .upper .m .btns .btn.btn1{background:#8dc61e;color:#fff;margin-right:20px;}
.qbao .upper .m .btns .btn.btn2{color:#8dc61e;width:79px;height:31px;line-height:31px;border:1px solid #8dc61e;margin-right:10px;}
.qbao .upper .sidebar{float:right;height:106px;width:298px;border-left:1px solid #f1f1f1;padding:12px 0;}
.qbao .upper .sidebar p{color:#686868;font-size:12px;font-family: Microsoft Yahei;line-height:20px;padding-left:60px;}
.qbao .upper .sidebar p.c{color:#ff7e00;cursor:pointer;}
.popwrap{position:fixed;left:0;top:0;width:100%;height:100%;background:url(../images/popup_bg.png) repeat;z-index:9999;font-family:Microsoft Yahei;}
.popwrap.hidden{display:none;}
.popwrap .inner{background:url(../images/popbgs.png) no-repeat;padding:23px 24px;margin:0 auto;position:relative;}
.popwrap .inner .close{position:absolute;width:11px;height:11px;background:url(../images/close-2.png) no-repeat;right:49px;top:47px;cursor:pointer;}
.popwrap .inner.box1{width:620px;height:370px;background-position:0 0;padding:25px 26px;}
.popwrap .inner.box2{width:590px;height:219px;background-position:-672px 0;}
.popwrap .inner.box3{width:620px;height:147px;background-position:-1310px 0;padding:15px 16px;}
.popwrap .inner.box4{width:620px;height:545px;background-position:-1962px 0;padding:21px;}
.popwrap .inner h1{border-bottom:1px solid #f1f1f1;height:52px;line-height:58px;font-size:16px;color:#333333;text-indent:25px;overflow:hidden;font-weight:bolder;}
.popwrap .inner .c{padding:25px;}
.popwrap .inner .c p{color:#666;font-size:14px;line-height:28px;}
.popwrap .inner.box3 .c{padding:16px 25px;}
.popwrap .inner .form_wrap{margin:30px 50px;}
.popwrap .inner .form_wrap .tinputs{display:block;background:#f6f6f6;border:1px solid #f1f1f1;border-radius:4px;overflow:hidden;}
.popwrap .inner .form_wrap .tinputs .t_item{display:block;border-top:1px solid #f1f1f1;margint-top:-1px;height:48px;}
.popwrap .inner .form_wrap .t_item label{display:inline-block;vertical-align:top;line-height:48px;color:#c2c2c2;font-size:14px;width:75px;text-align:right;}
.popwrap .inner .form_wrap .t_item .text{display:inline-block;vertical-align:top;border:0;height:48px;line-height:48px;width:432px;background:none;outline:none;font-size:26px;color:#929292;text-indent:12px;font-family:Arial,Microsoft Yahei;}
.popwrap .inner .form_wrap.w1{width:520px;}
.popwrap .inner .form_wrap.w1 .t_item label{width:140px;color:#000;font-size:14px;text-align:left;text-indent:22px;}
.popwrap .inner .form_wrap.w1 .t_item .text{width:378px;}
.popwrap .inner .form_wrap.w1 .t_item .text.f14{font-size:14px;}
.popwrap .inner .form_wrap.w1 .tips{padding:25px 0 40px 0;}
.popwrap .inner .form_wrap.w1 .tips p{font-size:14px;color:#000;line-height:34px;}
.popwrap .inner .form_wrap.w1 .tips p.c1{color:#d23d04;}
.popwrap .inner .form_wrap .subbtn{display:block;margin:0 auto;width:172px;height:48px;line-height:48px;border-radius:24px;background:#8dc61e;color:#fff;text-align:center;font-size:20px;}
.popwrap .inner .form_wrap .pay_way{width:100%;margin:28px auto 0 auto;}
.popwrap .inner .form_wrap .pay_way .t{color:#000;font-size:14px;height:25px;line-height:25px;}
.popwrap .inner .form_wrap .pay_way .pays{padding:7px 0;height:35px;line-height:35px;margin-bottom:51px;}
.popwrap .inner .form_wrap .pay_way .pays label{display:inline-block;vertical-align: top;line-height:35px;height:35px;margin-right:30px;cursor:pointer;}
.popwrap .inner .form_wrap .pay_way .pays label i{background-image:url(../images/micons.png);background-repeat:no-repeat;vertical-align:top;}
.popwrap .inner .form_wrap .pay_way .pays label .iradio{display:inline-block;width:16px;height:16px;background-position:-69px -1px;margin:9px 12px 9px 0;}
.popwrap .inner .form_wrap .pay_way .pays label .iradio.on{background-position:-85px -1px;}
.popwrap .inner .form_wrap .pay_way .pays label .weichat{display:inline-block;width:34px;height:29px;background-position:0 -5px;margin:3px 6px 3px 0;}
.popwrap .inner .form_wrap .pay_way .pays label .alipay{display:inline-block;width:35px;height:35px;background-position:-34px 0;margin-right:6px;}
.popwrap .inner.weipay{width:330px;height:364px;padding:26px;background:#fff;margin:0 auto;position:relative;border-radius:6px;}
.popwrap .inner.weipay h1{margin:18px 0 0 0;border-bottom:1px solid #e5e5e5;height:64px;line-height:64px;font-size:14px;color:#666666;text-align: center;font-weight:normal;padding:0;}
.popwrap .inner.weipay h1 span{color:#e44204}
.popwrap .inner.weipay h1 span em{font-size:28px;font-weight:bold;font-style:normal;}
.popwrap .inner.weipay .qrcode{width:166px;height:166px;margin:20px auto 15px auto;}
.popwrap .inner.weipay .qrcode img{width:166px;height:166px;}
.popwrap .inner.weipay p{font-size:14px;color:#646464;text-align: center;margin:0 0 10px 0;line-height:24px;text-indent:0;}
.popwrap .inner.weipay p i.weichat{display:inline-block;width:27px;height:24px;background:url(duan2014/duan_icons.png) -190px -126px;margin: 0 6px 0 0;vertical-align: -7px;}
.gopage{display:inline-block; width:100px; height:23px; overflow:hidden; border:1px solid #F2F2F2; float:right; margin-left:10px;  margin-top:5px; position:relative;}
.gopage input{border:none; width:80px; height:23px; line-height:23px;background:none; overflow:hidden; position:absolute; left:0; top:0;}
.gopage button{background:#50BD72; color:#fff; border:none; cursor:pointer; height:23px; line-height:23px; width:20px; font-size:12px; position:absolute; right:0; top:0;}


.i_see,.i_edit,.i_del{ display:inline-block; width:18px; height:37px; white-space:nowrap; word-spacing:normal; overflow:hidden; cursor:pointer; margin:0 8px; float:left;}
.i_see{background:url(../images/i_see.png) no-repeat center;}
.i_edit{background:url(../images/i_edit.png) no-repeat center;}
.i_del{background:url(../images/i_del.png) no-repeat center;}

.nature{width:80px; margin-bottom:5px;}
.clear{visibility:hidden; padding:0; margin:0; width:100%; height:10px; font-size:1px; overflow:hidden; clear:both; float:none;}
body{font-family:'锟斤拷锟斤拷'; font-size:14px; color:#4C4C4C; background:#FAFCFD;}
.hide{display:none;}
.f12{font-size:12px;}
.h100{height:100px;}
.h5{height:5px;}
.mt30{margin-top:30px;}
.mt8{margin-top:8px;}
.fl{float:left;}
.fr{float:right;}
.green{color:green;}
.blue{color:blue;}
.error_input{border:1px solid red;}
.zeng_msgbox_layer,
.zeng_msgbox_layer .gtl_ico_succ,
.zeng_msgbox_layer .gtl_ico_fail,
.zeng_msgbox_layer .gtl_ico_hits,
.zeng_msgbox_layer .gtl_ico_clear,
.zeng_msgbox_layer .gtl_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background-image:url("../images/gb_tip_layer.png");_background-image:url("../images/gb_tip_layer_ie6.png");background-repeat:no-repeat}
.zeng_msgbox_layer_wrap{width:100%;position:fixed;_position:absolute;top:46%;left:0;text-align:center;z-index:65533}
.zeng_msgbox_layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative}
.zeng_msgbox_layer .gtl_ico_succ{background-position:-6px 0;left:-45px;top:0;width:45px;position:absolute}
.zeng_msgbox_layer .gtl_end{background-position:0 0;position:absolute;right:-6px;top:0;width:6px}
.zeng_msgbox_layer .gtl_ico_fail{background-position:-6px -108px;position:absolute;left:-45px;top:0;width:45px}
.zeng_msgbox_layer .gtl_ico_hits{background-position:-6px -54px;position:absolute;left:-45px;top:0;width:45px}
.zeng_msgbox_layer .gtl_ico_clear{background-position:-6px 0;left:-5px;width:5px;position:absolute;top:0}
.zeng_msgbox_layer .gtl_ico_loading{ width:16px;height:16px;border:0;background-image:url(../images/loading.gif);float:left;margin:19px 10px 0 5px}

.wx-box{width:178px; overflow:hidden; border:1px solid #E2E2E2; padding-bottom:10px; margin-top:10px; clear:both; background:#fff;}
.wx-title{ height:35px; background:#FDFDFD; line-height:35px; border-bottom:1px solid #E2E2E2; text-align:center; color:#4A4A4A; font-size:16px;}
.wx-pic{ text-align:center; padding:20px 0;}
.wx-box p{ padding:0 10px; line-height:1.8em;}

/*******user_center.html********/
.relative{ position:relative}
.user_center_main{ width: 1128px; margin: 60px auto 30px;}
.main_container{ width: 958px; border:1px solid #e6e6e6; background: #fff;}
.main_container .left{ background: #fdfdfd; width: 213px; padding-top: 10px;}
/*sign*/
.main_container .left .sign{ position: absolute; top: 5px; right: 15px;}
.left .sign i{ background:url(../images/icon.png) no-repeat; width: 19px; height: 18px; display: inline-block; vertical-align: middle; margin-left: 5px;}
.integral_num{ color:#ffae00;font-weight: 700;  position: absolute; top: -23px;left: 0;text-align: center;right: 0;}
/*.sign_show{  position: absolute; right: 10px; top:7px; z-index: 20;height:28px; line-height: 28px; background: #8dc61e; color:#fff;padding: 0 10px; border-radius: 5px;}*/
.sign_show{display:block;margin:20px auto 0 auto;width:102px;height:52px;line-height:52px;text-align:center;color:#fff;border-radius: 5px;
    background: #8DC61E;font-family:Microsoft Yahei;font-size:16px;position:relative;}
a.sign_show:hover{color:#fff;}
.sign_show i{ background:url(../images/icon.png) no-repeat 0 -151px; width: 19px; height: 18px; display: inline-block; vertical-align: middle; margin-right: 5px;}


.main_container .left .hd{ padding: 10px 10px 5px 10px;}
.main_container .left .hd .info_lcol{ overflow: hidden;margin: 0 0 7px 0;}
.main_container .left .hd .info_lcol .u_pic{ float: left;width: 55px;height:53px; margin-right: 10px; _display: inline;overflow: hidden;text-align: center;}
.main_container .left .hd .info_lcol .u_pic img{ display: block;}
.main_container .left .hd .info_lcol .info_m{float: left;width: 128px;margin-top: 3px;font-family:Microsoft Yahei}
.main_container .left .hd .info_lcol .info_m .u_name{ font-size: 18px; line-height: 22px;}
.main_container .left .hd .info_lcol .info_m .u_name .level{float:right;width:37px;height:17px;background:#8dc61e;border-radius:4px;color:#fff;font-size:12px;text-align:center;line-height:17px;margin-top:2px;}
.level_text{font-size:12px;color:#666;line-height:30px;}
.lv { background:#FFAE00;height: 19px;line-height: 19px;display: inline-block;font-size: 12px;color: #fff; padding:2px 4px 2px 4px;margin-left: 5px;}
.lv #lv_num{font-family: 微锟斤拷锟脚猴拷;font-weight: bold;}
.main_container .left .hd .acco_info{margin-top: 10px;overflow:visible;}
.main_container .left .hd .acco_info li{ height: 30px; line-height: 30px;}
.main_container .left .hd .acco_info li em{font-style:normal;}
.main_container .left .hd .acco_info li img {margin-right: 10px;vertical-align: middle;display: inline-block;}
.main_container .left .hd .acco_info li .li_span{position:relative;}
.main_container .left .hd .acco_info li .li_span em{position: absolute;right: 3px;top: -8px;line-height: 10px;}
.main_container .left .hd .acco_info li a.problem{ background: url(../images/icon.png) no-repeat 0 -24px; width:19px; height: 19px; display: inline-block; margin-left: 10px; vertical-align: middle; }
.main_container .left .hd .acco_info li .tips_line{position:relative;}
.main_container .left .hd .acco_info li .tips{position: absolute;z-index: 99;padding:0 8px;top:-4px;left:36px;display: none;background:#fff;color:#666;border:1px solid #ddd;border-radius:4px;height: 24px;line-height: 24px;width: 200px;overflow:hidden;white-space:nowrap;font-size: 12px;}
.main_container .left .hd .acco_info li .tips.i{width:352px;height:127px;padding:5px;border:0;}
.main_container .left .hd .acc_nums{text-align:center;padding-left:5px;}
.main_container .left .hd .acc_nums li{display:inline-block;width:33.3333%;vertical-align:top;*display:inline;*zoom:1;margin-left:-5px;font-size:12px;color:#999999;line-height:20px;}
.main_container .left .hd .acc_nums li em{display:block;font-family:Arial;font-size:16px;color:#ff3333;line-height:30px;font-style:normal;}

.main_container .left .hd .btn_write{ overflow: hidden; margin:8px 0 15px 0;clear:both;}
.main_container .left .hd .btn_write a{ background: url(../images/btn.png) no-repeat; width:91px; height: 33px; display: inline-block;  }
.main_container .left .hd .btn_write a.write_diary{ background-position: 0 -33px;margin-left: 11px;}
.main_container .left .hd .btn_line{display:block;margin:0 auto 15px auto;width:193px;height:33px;line-height:33px;text-align:center;background:#8dc61e;border-radius:5px;color:#fff;font-weight:bold;}
.main_container .left .bd{ font-size: 16px; border-top:1px solid #e6e6e6;}
.main_container .left .bd li{ border-bottom:1px solid #e6e6e6; height: 44px; line-height: 44px; text-align: center;}
.main_container .left .bd li.cur a{background: #8DC61E;color: #fff;}
.main_container .left .bd li a{ display: block;}
.main_container .left .bd li a:hover{ color:#658f14;}

.main_container .right{ width: 744px;border-left:1px solid #e6e6e6; min-height: 720px; height: auto;}
.yezi{position: absolute; top: 40%; right: -46px; background:url(../images/img_yezi.png) no-repeat 0 -75px; width:46px; height: 75px; cursor: pointer; }
.yezi_happy{ position: absolute;top: 40%; right: -46px;  background:url(../images/img_yezi.png) no-repeat; width:46px; height: 75px;cursor: pointer; }
.main_container .right .list_box{  padding: 20px 20px 13px 25px;}
.main_container .right .list_box .title .fl{ font-size: 18px; color: #158b02}
.main_container .right .list_box .title i{ background: url(../images/icon.png) no-repeat; display: inline-block; margin-right: 10px;}
.main_container .right .list_box .title i.announ{ background-position:0 -52px; width:14px; height: 16px; }
.main_container .right .list_box .title i.icon_same{ background-position:0 -75px; width:19px; height: 19px; }
.main_container .right .list_box .content { overflow: hidden; width: 100%;margin-top: 10px;}
.main_container .right .list_box .content li{ overflow: hidden; height: 30px; line-height: 30px;}
.main_container .right .list_box .content li a{ display: block;height: 30px; }
.main_container .right .list_box .content li .fl{ width: 580px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.main_container .right .list_box .content li .fr{ width: 110px; overflow: hidden; color:#bcbcbc; text-align: right;}
.main_container .right .last{ border:0;}

.suspension{ width: 164px; position: relative;z-index: 10;text-align:center;}
.suspension .sys{border:1px solid #e6e6e6;width:162px;}
.suspension .weixin{ padding-top: 20px ; text-align: center;background:#fff;}
.suspension .weixin img{ display: block;margin: 0 auto}
.yellow{ color:#ff7e00;}
.suspension .contact{ padding: 5px 0 8px 0;background:#fff;line-height:20px;}
.suspension .contact p{line-height:1.5em;}
.suspension .contact .tel i{background:url(../images/icon.png) no-repeat 0 -104px; width: 17px; height: 16px; display: none; vertical-align: middle; margin-right: 3px;}
.suspension .contact .mail_to i{ background:url(../images/icon.png) no-repeat 0 -132px; width: 16px; height: 13px; display: none; vertical-align: middle; margin-right: 3px;}
.suspension .close{ text-align: center; height: 27px; line-height: 27px; border-top:1px solid #e6e6e6;}
.suspension .close a{ display: block; background: #fbfbfb}

/***********integral_mall.html*************/
.main{ width: 1000px;  margin: 15px auto}
.current_position{ margin: 5px 0}
.current_position em{ background:url(../images/icon.png) no-repeat 0 -172px; width: 5px; height: 9px; display: inline-block; margin: 0 8px; vertical-align: middle; overflow: hidden;}
.hd_sort{ background: #fff;border:1px solid #e5e5e5;}
.hd_sort .hd{ height: 68px; line-height: 68px; padding: 0 15px 0 30px}
.hd_sort .hd .fl{ font-size: 30px; color:#000;}
.hd_sort .hd .fr .yellow{margin-right: 15px}
.hd_sort .sort{padding: 15px 15px 15px 30px;border-top:1px solid #e5e5e5;}
.hd_sort .sort dl{ overflow: hidden; margin-bottom: 8px; height: 100%}
.hd_sort .sort dl dt{ float: left;}
.hd_sort .sort dl dd{ float: left;}
.hd_sort .sort dl dd a{ padding: 5px;}
.hd_sort .sort dl dd a.current,.hd_sort .sort dl dd a:hover{ background:#3fc700; color:#fff;}

.box_product{ background:#fff; margin-top:6px; border:1px solid #e5e5e5;height: 100%; overflow: hidden;}
.box_product .box_left{ width: 199px; position: relative; z-index: 1 }
.box_product .box_left .title{ width: 199px; font-size: 18px; color:#659900; height: 34px; line-height: 34px; background:#f7f7f7; text-indent: 2.3em}
.box_product .box_left .meau{ margin-bottom: 10px;}
.box_product .box_left .meau li{ height: 40px; line-height: 40px;border-top:1px solid #e5e5e5;}
.box_product .box_left .meau li a{ display: block; text-indent: 3em}
.box_product .box_left .meau li a:hover{ color: #82ac31; background: #fff; margin-right: -2px;}
.box_product .box_right{ width: 798px;border-left: 1px solid #e6e6e6; min-height: 650px; height: auto}
.box_right .list{ height: 100%; overflow: hidden; margin: 30px 0}
.box_right .list li{ float: left; width: 227px; height: 340px; _height:350px;  padding:10px 5px; margin: 10px 13px; border:1px solid #fff; display: inline;}
.box_right .list li.current{ border:1px solid #ececec;}
.box_right .list li .pic img{ display: block;}
.box_right .list li .yellow{ font-weight: 700}
.box_right .list li .yellow em{ font-size: 16px;}
.box_right .list li .t{ height: 42px; overflow: hidden;}
.box_right .list li .btn{ margin: 15px 0 7px 0; display: none;}
.box_right .list .current .btn{ display: block;}
.box_right .list li .btn a{ background: url(../images/btn.png) no-repeat 0 -68px; width: 91px; height: 26px; display: block; margin: 0 auto}
.page {overflow: hidden;position: relative;padding: 10px 0;height: 37px; margin: 20px 0 }
.page .inner { float: left; margin-left: -40%;}
.page .wraper {float: left;margin-left: 50%;}
.page .wraper { min-width: 650px;_float: none;_width: 760px;_margin-left: auto; _margin-right: auto;}
.page .items {float: left;}
.page .item {position: relative;float: left;margin-left: -1px;width: 35px;border: solid 1px #ededed;height: 35px;color: #3e3e3e;text-align: center;line-height: 35px;cursor: pointer;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.page .next, .page .prev {width: 70px; font-weight: 400;}
.page .prev {margin-right: 6px; margin-left: 0;}
.page .next-disabled, .page .prev-disabled {color: #ccc;}
.page .item .num {position: relative;z-index: 1;display: inline-block;width: 100%;text-decoration: none;font-size: 14px;}
.page .item span{ display: inline-block;}
.icon-btn-prev-2-disable {background:url(../images/icon.png) no-repeat -23px 0;width: 6px; height: 9px;}
.page .icon { _margin-top: 12px;}
.page .active, .page .active:hover {position: relative;z-index: 1;background: #3fc700;color: #fff;border-color: #3fc700;cursor: default;text-decoration: none;}
.page .dot { border: none;line-height: 37px;width: 24px;cursor: default;}
.page .next {margin-left: 5px;}
.page .dot+.next {margin-left: -1px;}
.icon-btn-next-2 {background:url(../images/icon.png) no-repeat -39px 0;width: 6px;height: 9px;}
.page .text, .page .total { _display: inline;float: left;line-height: 37px;}
.page .total {margin-left: 10px;}
.page .input, .page .text, .page .total { color: #999;}
.page .form {float: left;}
.page .btn, .page .input {margin: 7px 5px 0;float: left;_display: inline;}
.page .input {width: 35px;border: solid 1px #ededed;height: 21px;text-align: center;}
.page .btn { background:url(../images/btn.png) no-repeat 0 -96px;height: 20px;line-height: 20px;width: 46px;text-align: center;cursor: pointer; border:0;font-size: 12px}

/**********detail.html*********/
.detail_con{ margin: 0 8px;  }
.detail_con .de_pro{border-bottom: 1px solid #e5e5e5; padding: 20px 5px;height: 100%; overflow: hidden;}
.detail_con .de_pro .m_pic{ width: 318px;}
.detail_con .de_pro .m_pic img{ display: block;}
.detail_con .de_pro .m_msg{ width: 424px;}
.detail_con .de_pro .m_msg h1.title{ width: 424px; font-weight: 700; font-size: 16px;}
.detail_con .de_pro .m_msg li{ margin: 7px 0}
.detail_con .de_pro .m_msg li .yellow{ font-weight: 700}
.detail_con .de_pro .m_msg li .yellow em{ font-size: 16px; margin-right: 5px;}
.detail_con .de_pro .m_msg .txt{ color: #999}

.detail_con .rec_infor{ height: 100%;  overflow: hidden; padding: 0 10px; }
.detail_con .rec_infor .hd_t{font-size: 18px; padding: 15px 0; color:#000;}
.detail_con .rec_infor .hd_t .yellow{font-size: 14px}
.detail_con .rec_infor .bd_c{ padding-bottom: 60px;}
.detail_con .rec_infor .bd_c li{ overflow: hidden; margin-top: 15px;height: 100%; }
.detail_con .rec_infor .bd_c li .fl{ width: 90px; text-align: left;}
.detail_con .rec_infor .bd_c li .fr{ width: 670px;}
.detail_con .rec_infor .bd_c li .fr .inpt{ width: 250px; height: 34px; line-height: 34px; background:#f6f6f6; padding: 0 5px;border:1px solid #e5e5e5;}
.detail_con .rec_infor .bd_c li .fr .long_inpt{ width: 500px; }
.detail_con .rec_infor .bd_c li .fr .select{ width: 135px; height: 34px; line-height: 34px; background:#f6f6f6;border:1px solid #e5e5e5; margin-right: 10px;}
.detail_con .rec_infor .bd_c li .btn{background:url(../images/btn.png) no-repeat 0 -119px; width: 143px; height: 48px; border:0; cursor: pointer;}

/*************integral_rules.html***********/
.integral_rules_con{ padding: 30px; height: 100%; overflow: hidden;}
.integral_rules_con h1.title{ font-size: 25px; color: #000; margin-bottom: 15px;}
.integral_rules_con .instructions p{ line-height: 30px;}
.integral_rules_con .instructions p span{ margin-right: 25px;}
.integral_rules_con .ins_table{width: 522px; margin: 20px 0}
.integral_rules_con .ins_table td{  border:1px solid #c2c2c2; text-align: center; height: 30px; line-height: 30px; padding: 0 10px}
/******submit_url.html**********/
.submit_url_con{ height: 100%; overflow: hidden; border:1px solid #e5e5e5;}
.submit_url_left{ background: #fff; width: 697px;min-height: 600px; height: auto; border-right:1px solid #f0f0f0;}
.submit_url_left .container{ padding: 30px;}
.submit_url_left .container h1.t{font-size: 30px; color: #000; margin-bottom: 15px;}
.submit_url_left .container .fs18{ color: #424242; font-size: 18px;}
.submit_url_left .container .box_steps{ border-left: 3px solid #e7e7e7; margin: 30px 0;}
.submit_url_left .container .box_steps li{ position: relative;  zoom: 1; padding-left: 20px; }
.box_steps li i.icon_quan{position: absolute; left: -11px; top: 0; background:url(../images/icon.png) no-repeat -23px -13px; width: 20px; height: 20px;}
.box_steps .title{ font-size: 20px; color: #000;margin-bottom: 25px;}
.box_steps .det_con a.audit{ text-decoration: underline;}
.box_steps .det_con .fs16{font-size: 16px; margin-bottom: 15px;}
.box_steps .det_con .s_t{font-size: 16px; margin-bottom: 9px; }
.box_steps .det_con .s_t i{ background: url(../images/icon.png) no-repeat -17px -44px;  width: 33px; height: 33px; line-height: 33px; text-align: center; color:#fff; display: inline-block; vertical-align: middle; margin-right: 10px;}
.box_steps .det_con .pic{ margin-bottom: 20px; height: 100%; overflow: hidden;}
.box_steps .det_con .pic img{ display: block;}
.recommend_box{border-top:1px solid #eaeaea; margin-top: 50px; padding: 0 30px 50px;}
.recommend_box .rec_t{ font-size: 18px; color: #1d1d1d; padding: 15px 0}
.recommend_box .rec_c{ overflow: hidden;}
.recommend_box .rec_c li{ float: left; width: 25%; margin-bottom: 15px;}
.recommend_box .rec_c li img{ vertical-align: middle; margin-right: 10px;}

.submit_url_right{ width: 300px}
.submit_url_right .sub{ padding: 20px 20px 40px; border-bottom: 1px solid #e5e5e5}
.submit_url_right .sub .title{ font-size: 18px; color: #659900; margin-bottom: 10px;}
.submit_url_right .sub .list a{ display: block; height: 36px; line-height: 36px; }
.submit_url_right .sub .title em{ font-size: 14px; color: #000; margin-left: 20px;}

/******锟斤拷锟斤拷锟�.html**********/
.page_head{font-size:16px;font-weight:normal;color:#666;font-family:Microsoft Yahei;}
.tab_title{border-bottom:1px solid #d5d5d5;margin:15px 0;}
.tab_title span{display:inline-block;padding:0 10px;color:#666;font-size:14px;line-height:30px;cursor:pointer;}
.tab_title span.current,.tab_title span:hover{color:#ff6600;border-top:2px solid #ff6600;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:1px solid #fff;margin-bottom:-1px;}
.bookmark em{display:none;font-style:normal;}
.tab_wrap .list_table {border:0;}
.tab_wrap .list_table tr:hover{background:#f5f9ec;}
.tab_wrap .list_table td{border-bottom:1px solid #f2f2f2;}
.tab_wrap .list_table th{border-bottom:2px solid #999;background:#fff;color:#666;padding:3px 0;}
.tab_wrap .list_table td{line-height:32px; border-bottom:1px dotted #f2f2f2; color:#474747; padding:20px 0;}
.tab_wrap .list_table td img{display:inline-block;vertical-align:middle;width:53px;height:70px;}
.tab_wrap .list_table td.tc{text-align:center;}
.tab_wrap .list_table td.tr{text-align:right;}
.tab_wrap .list_table td .title{line-height:24px;margin-bottom:15px;}
.tab_wrap .list_table td .title span{color:#333333;font-size:14px;}
.tab_wrap .list_table td .title a{font-size:14px;color:#ff6600;}
.tab_wrap .list_table td .chapter{font-size:12px;color:#666666;line-height:15px;}
.tab_wrap .list_table td .chapter .time{color:#999999;}
.tab_wrap .list_table td .chapter .new_btn{display:inline-block;vertical-align:1px;width:35px;height:15px;border-radius:12px;background-color:#ff6600;color:#fff;font-size:12px;line-height:13px;text-align:center;font-family:Microsoft Yahei;margin-left:15px;}
.tab_wrap .list_table td .type{font-size:12px;color:#333;}
.tab_wrap .list_table td .del_btn{display:inline-block;vertical-align:middle;height:27px;width:27px;background:url(../images/close.png) left top;cursor:pointer;}
.tab_wrap .list_table td .del_btn:hover{background-position:0 -27px;}
.tab_wrap .list_table td .author{color:#ff6600;font-size:14px;}
.tab_wrap .list_table td .view_name{display:inline-block; height:37px; line-height:37px; float:left;}
.tab_wrap .list_table .label{display:inline-block;vertical-align:middle;margin:0 0 0 5px;line-height:28px;}
.check_box{display: inline-block;width: 14px;height: 14px;background:url(../images/checkbox-1.png) top left;cursor: pointer;line-height: 12px;vertical-align:middle;}
.check_box.checked{background:url(../images/checkbox-1.png) left -14px;}
.hidecheckbox{visibility: hidden;height: 0;width: 0;}
.alldel_btn{display:inline-block;width:68px;height:28px;text-align:center;line-height:28px;border-radius:3px;background:#ff6600;border:0;font-size:14px;color:#fff;margin-left:15px;}
.pages{display:inline-block;overflow:hidden;  float:right; margin-left:10px;  margin-top:5px;font-size:12px;line-height:18px;}
.pages input{display:inline-block;vertical-align:middle;border:1px solid #F2F2F2; width:30px; height:21px; line-height:23px;background:#fff; overflow:hidden;text-align:center;}
.pages button{display:inline-block;vertical-align:middle;background:#50BD72; color:#fff; border:none; cursor:pointer; height:23px; line-height:23px; width:20px; font-size:12px;}



