<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jie.literature.mapper.FollowMapper" >
  <resultMap id="BaseResultMap" type="com.jie.literature.domain.Follow" >
    <id column="fol_id" property="folId" jdbcType="INTEGER" />
    <result column="fol_uid" property="folUid" jdbcType="INTEGER" />
    <result column="fol_userid" property="folUserid" jdbcType="INTEGER" />
    <result column="fol_createtime" property="folCreatetime" jdbcType="TIMESTAMP" />
    <result column="fol_status" property="folStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    fol_id, fol_uid, fol_userid, fol_createtime, fol_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from follow
    where fol_id = #{folId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from follow
    where fol_id = #{folId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jie.literature.domain.Follow" >
    insert into follow (fol_id, fol_uid, fol_userid, 
      fol_createtime, fol_status)
    values (#{folId,jdbcType=INTEGER}, #{folUid,jdbcType=INTEGER}, #{folUserid,jdbcType=INTEGER}, 
      #{folCreatetime,jdbcType=TIMESTAMP}, #{folStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jie.literature.domain.Follow" >
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="folId != null" >
        fol_id,
      </if>
      <if test="folUid != null" >
        fol_uid,
      </if>
      <if test="folUserid != null" >
        fol_userid,
      </if>
      <if test="folCreatetime != null" >
        fol_createtime,
      </if>
      <if test="folStatus != null" >
        fol_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="folId != null" >
        #{folId,jdbcType=INTEGER},
      </if>
      <if test="folUid != null" >
        #{folUid,jdbcType=INTEGER},
      </if>
      <if test="folUserid != null" >
        #{folUserid,jdbcType=INTEGER},
      </if>
      <if test="folCreatetime != null" >
        #{folCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="folStatus != null" >
        #{folStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jie.literature.domain.Follow" >
    update follow
    <set >
      <if test="folUid != null" >
        fol_uid = #{folUid,jdbcType=INTEGER},
      </if>
      <if test="folUserid != null" >
        fol_userid = #{folUserid,jdbcType=INTEGER},
      </if>
      <if test="folCreatetime != null" >
        fol_createtime = #{folCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="folStatus != null" >
        fol_status = #{folStatus,jdbcType=INTEGER},
      </if>
    </set>
    where fol_id = #{folId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jie.literature.domain.Follow" >
    update follow
    set fol_uid = #{folUid,jdbcType=INTEGER},
      fol_userid = #{folUserid,jdbcType=INTEGER},
      fol_createtime = #{folCreatetime,jdbcType=TIMESTAMP},
      fol_status = #{folStatus,jdbcType=INTEGER}
    where fol_id = #{folId,jdbcType=INTEGER}
  </update>

  <select id="selectFollowList" resultType="Follow">
    select * from follow where fol_uid=#{folUid}
    <if test="folStatus!=null">
      and fol_status=#{folStatus}
    </if>
    order by fol_createtime desc
  </select>

  <select id="selectFollowList1" resultType="Follow">
    select * from follow
    where fol_userid=#{userId} and fol_status=0
    order by fol_createtime desc
  </select>


</mapper>