<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jie.literature.mapper.SpaceMapper" >
  <resultMap id="BaseResultMap" type="com.jie.literature.domain.Space" >
    <id column="space_id" property="spaceId" jdbcType="INTEGER" />
    <result column="space_name" property="spaceName" jdbcType="VARCHAR" />
    <result column="space_autograph" property="spaceAutograph" jdbcType="VARCHAR" />
    <result column="space_introduction" property="spaceIntroduction" jdbcType="VARCHAR" />
    <result column="space_uid" property="spaceUid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    space_id, space_name, space_autograph, space_introduction, space_uid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from space
    where space_uid = #{spaceUid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from space
    where space_id = #{spaceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jie.literature.domain.Space" >
    insert into space (space_id, space_name, space_autograph, 
      space_introduction, space_uid)
    values (#{spaceId,jdbcType=INTEGER}, #{spaceName,jdbcType=VARCHAR}, #{spaceAutograph,jdbcType=VARCHAR}, 
      #{spaceIntroduction,jdbcType=VARCHAR}, #{spaceUid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jie.literature.domain.Space" >
    insert into space
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spaceId != null" >
        space_id,
      </if>
      <if test="spaceName != null" >
        space_name,
      </if>
      <if test="spaceAutograph != null" >
        space_autograph,
      </if>
      <if test="spaceIntroduction != null" >
        space_introduction,
      </if>
      <if test="spaceUid != null" >
        space_uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spaceId != null" >
        #{spaceId,jdbcType=INTEGER},
      </if>
      <if test="spaceName != null" >
        #{spaceName,jdbcType=VARCHAR},
      </if>
      <if test="spaceAutograph != null" >
        #{spaceAutograph,jdbcType=VARCHAR},
      </if>
      <if test="spaceIntroduction != null" >
        #{spaceIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="spaceUid != null" >
        #{spaceUid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jie.literature.domain.Space" >
    update space
    <set >
      <if test="spaceName != null" >
        space_name = #{spaceName,jdbcType=VARCHAR},
      </if>
      <if test="spaceAutograph != null" >
        space_autograph = #{spaceAutograph,jdbcType=VARCHAR},
      </if>
      <if test="spaceIntroduction != null" >
        space_introduction = #{spaceIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="spaceUid != null" >
        space_uid = #{spaceUid,jdbcType=INTEGER},
      </if>
    </set>
    where space_uid = #{spaceUid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jie.literature.domain.Space" >
    update space
    set space_name = #{spaceName,jdbcType=VARCHAR},
      space_autograph = #{spaceAutograph,jdbcType=VARCHAR},
      space_introduction = #{spaceIntroduction,jdbcType=VARCHAR},
      space_uid = #{spaceUid,jdbcType=INTEGER}
    where space_id = #{spaceId,jdbcType=INTEGER}
  </update>
</mapper>